body {
	background: #ccc;
	background-image:
		url("http://loja.laratec.org.br/catalog/view/theme/ancart/image/pattern15.png");
}

.cadastro {
	border: 1px solid #777;
	box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.8) inset, 1px 1px 3px
		rgba(0, 0, 0, 0.2), 0px 0px 0px 4px rgba(188, 188, 188, 0.5);
	width: 800px;
	height: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -250px;
	margin-top: -150px;
}

.login {
	border: 1px solid #777;
	box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.8) inset, 1px 1px 3px
		rgba(0, 0, 0, 0.2), 0px 0px 0px 4px rgba(188, 188, 188, 0.5);
	width: 500px;
	height: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -250px;
	margin-top: -150px;
}

.box_hol {
	border: 1px solid #777;
	box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.8) inset, 1px 1px 3px
		rgba(0, 0, 0, 0.2), 0px 0px 0px 4px rgba(188, 188, 188, 0.5);
	width: 700px;
	height: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -350px;
	margin-top: -200px;
}

.botao_recuperar {
	color: #ffa500;
	float: right;
}

.adobe_reader {
	bacground: #ffa500;
}

.ui-state {
	float: right;
}

.ui-messages-error, .ui-message-error {
	background: #ffecec;
	border: 1px solid #f5aca6;
	font-size: 14px;
	font-weight: normal;
}

.ui-widget-content {
	background: #fff;
	background: -moz-linear-gradient(top, #fff 0%, #ddd 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(#fff, 0),
		color-stop(#ddd, 1));
	background: linear-gradient(top, #fff 0%, #ddd 100%);
	background: -webkit-linear-gradient(top, #fff 0%, #ddd 100%);
}

.ui-widget-content .ui-state-default {
	margin-bottom: 10px;
}

.inplogin {
	float: right;
	margin-right: 5px;
	width: 370px;
}

.inpcpf {
	float: left;
	margin-left: 10px;
	width: 150px;
}

.botoes {
	float: right;
	width: 400px;
}

.msgbrowsers {
	float: right;
}

@media screen and (max-width: 480px) {
	.cadastro {
		margin-left: -200px;
		min-height: 300px;
		width: 500px;
	}
	.login {
		margin-left: -200px;
		min-height: 300px;
		width: 400px;
	}
	.inplogin {
		width: 280px;
	}
	.ui-messages-error, .ui-message-error {
		font-size: 12px;
	}
}

.quebra-de-linha {
	white-space: pre-wrap;
	word-wrap: break-word;
}

.ui-wizard-nav-next {
	background: #5799C9!important;
	color: #fff!important;
}