.ui-fluid .ui-button {
	background: lightgray;
}

.ui-panelmenu .ui-panelmenu-header a {
	background: skyblue;
}

.ui-panel .ui-panel-titlebar {
	padding: .5em 1em .3em;
	background: lightblue;
}

.grid-login {
	width: 100%;
}

.ui-panelmenu .ui-menuitem-link {
	background: powderblue;
}

.ui-panelmenu .ui-menuitem {
	margin: 1px 5px;
	padding: 0px;
}

.ui-inputfield, .ui-widget-content .ui-inputfield, .ui-widget-header .ui-inputfield {
    box-shadow: inset 0 0px 1px #8f8f8f;
}

.ui-outputlabel.ui-state-error {
	border: 0 none;
	color: #4f4f4f;
}

.ui-inputfield, .ui-widget-content .ui-inputfield, .ui-widget-header .ui-inputfield {
	border: 1px solid #8f8f8f;
}

.ui-corner-all {
	border-radius: 0px;
}

.ui-widget-content .ui-inputfield.ui-state-focus {
	border-color: #0080ff;
	border-width: 1px;
	box-shadow: none;
}

.ui-outputlabel {
	font-weight: bold;
}